.indexhotel {
    margin: 12px 0 8px 12px;
    border-radius: 5px;
}

.indexhotelprice {
    white-space: nowrap;
    overflow: auto;
    width: 100%;
}

.indexhotelprice li {
    width: 85%;
    padding: 10px;
    display: inline-block;
    background: #fff;
    margin-right: 5%;
    list-style: none;
}

.indexhotelprice li .pri_fl {
    width: 75%;
    text-align: left;
    float: left;
    border-right: 1px solid #e0e0e0;
}

.indexhotelprice li .pri_fl p {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
}

.indexhotelprice li .pri_fl p.pricetitle {
    color: #09bb07;
    font-size: .13rem;
}

.indexhotelprice li .pri_fl p.hotelname {
    color: #333;
    font-size: .12rem;
}

.indexhotelprice li .pri_fl p.times {
    color: #b2b2b2;
    font-size: .12rem;
}

.indexhotelprice li .pri_fl p.times em {
    color: #b2b2b2;
    font-size: .12rem;
    margin-left: 5px;
    font-style: normal;
}

.indexhotelprice li .pri_fr {
    width: 25%;
    float: left;
    text-align: center;
    font-size: .13rem;
    color: #09bb07;
    height: 60px;
    line-height: 60px;
}

.indexhotelprice li .pri_fr:after {
    content: " ";
    display: inline-block;
    width: 8px;
    height: 8px;
    border: 1px solid #09bb07;
    border-width: 0 0 1px 1px;
    transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
}

.onethings {
    margin-right: 12px;
    overflow: hidden;
    width: auto;
}

.onethings li {
    width: 100%;
}

.m_group {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden
}

.m_group .sticky {
    position: relative;
    padding: .03rem .1rem;
    background-color: #f4f4f4;
    color: #b2b2b2
}

.m_group .sticky>.iconfont {
    position: absolute;
    top: 0;
    right: .12rem;
    display: block;
    width: .16rem;
    height: .16rem;
    color: #ccc
}

.m_group .no_data {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    word-wrap: break-word;
    word-break: break-all;
    text-align: center
}

.g_hd {
    height: .44rem;
    line-height: .44rem;
    position: relative;
    background-color: #fcfcfc;
    color: #444;
    font-size: .2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center
}

.g_hd:after {
    pointer-events: none;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    overflow: hidden;
    content: " ";
    border-color: #ddd;
    border-style: solid;
    border-width: 0 0 1px;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0
}

@media (-webkit-max-device-pixel-ratio:1.49), (max--moz-device-pixel-ratio:1.49), (max-device-pixel-ratio:1.49), (max-resolution:1.49dppx), (max-resolution:143dpi) {
    .g_hd:after {
        width: 100%;
        height: 100%
    }
}

@media (-webkit-min-device-pixel-ratio:1.5) and (-webkit-max-device-pixel-ratio:2.49), (min--moz-device-pixel-ratio:1.5) and (max--moz-device-pixel-ratio:2.49), (min-device-pixel-ratio:1.5) and (max-device-pixel-ratio:2.49), (min-resolution:1.5dppx) and (max-resolution:2.49dppx), (min-resolution:144dpi) and (max-resolution:239dpi) {
    .g_hd:after {
        width: 200%;
        height: 200%;
        -webkit-transform: scale(.5);
        transform: scale(.5)
    }
}

@media (-webkit-min-device-pixel-ratio:2.5), (min--moz-device-pixel-ratio:2.5), (min-device-pixel-ratio:2.5), (min-resolution:2.5dppx), (min-resolution:240dpi) {
    .g_hd:after {
        width: 300%;
        height: 300%;
        -webkit-transform: scale(.33333);
        transform: scale(.33333)
    }
}

.g_hd>.tit {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0 .6rem
}

.g_hd>.back, .g_hd>.confirm {
    position: absolute;
    top: 0;
    width: .6rem;
    color: #858585;
    cursor: pointer;
    font-size: .24rem
}

.g_hd>.back:active, .g_hd>.confirm:active {
    opacity: .5
}

.g_hd>.back.u_icon, .g_hd>.back>.u_icon, .g_hd>.confirm.u_icon, .g_hd>.confirm>.u_icon {
    color: #858585;
    font-size: .2rem
}

.g_hd>.back {
    left: 0;
    padding-left: .15rem;
    text-align: left
}

.g_hd>.confirm {
    right: 0;
    padding-right: .15rem;
    text-align: right
}

.g_hd_normal {
    background-color: #eee;
    color: #888
}

.g_hd_normal>.back, .g_hd_normal>.back.u_icon, .g_hd_normal>.back>.u_icon, .g_hd_normal>.confirm, .g_hd_normal>.confirm.u_icon, .g_hd_normal>.confirm>.u_icon {
    color: #888
}

.m_sch {
    position: relative;
    padding: .1rem;
    background-color: #eee;
    line-height: .3rem
}

.m_sch, .m_sch>.operation {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex
}

.m_sch>.operation {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    width: .1px
}

.m_sch>.operation>.iconfont {
    position: absolute;
    z-index: 2;
    width: .28rem;
    text-align: center
}

.m_sch>.operation>.u_ipt {
    display: block;
    -webkit-appearance: none;
    appearance: none;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    width: .1px;
    position: relative;
    z-index: 1;
    margin: -.01rem 0;
    padding-left: .1rem;
    border: 1px solid #fff;
    border-radius: .05rem;
    background-color: #fff
}

.m_sch>.operation>.u_ipt_shrink {
    -webkit-transition: margin .2s ease-out;
    transition: margin .2s ease-out
}

.m_sch>.operation>.u_ipt_shrink:focus {
    margin-right: .6rem
}

.m_sch>.operation>.iconfont+.u_ipt {
    padding-left: .28rem
}

.m_sch>.cancel {
    position: absolute;
    right: .1rem;
    width: .5rem;
    color: #1ba9ba;
    text-align: center
}

.m_sch>.u_btn {
    display: block;
    min-width: .4rem;
    margin-left: .1rem;
    padding: 0 .1rem;
    background-color: #09bb07;
    color: #fff;
    text-align: center;
    border-radius: .05rem
}

.ctls {
    z-index: 30
}

.ctls .m_sch {
    background: #fff;
    z-index: 1002;
    box-shadow: 0 0 4px rgba(0, 0, 0, .3)
}

.ctls .m_sch>.cancel {
    color: #333;
    font-size: .16rem
}

.ctls .flex, .ctls .m_sch>.operation, .ctls .m_sch>.operation>.u_ico+.u_ipt, .ctls .m_sch>.operation>.u_ipt {
    background: #f4f4f4
}

.ctls .flex {
    height: 100%;
    overflow: auto
}

.ctls .flex .m_group, .ctls .m_tab {
    position: relative
}

.ctls .m_tab {
    background: #f4f4f4
}

.ctls .m_tab .item {
    font-size: .15rem;
    color: #888
}

.ctls .m_tab .item.item_on {
    color: #09bb07
}

.ctls .m_tab .item .icon {
    margin-right: 5px
}

.ctls .m_tab span {
    border-bottom: 1px solid #09bb07;
    width: 40%;
    position: absolute;
    left: 5%;
    bottom: 0
}

.ctls .m_tab span.right {
    right: 5%;
    left: auto
}

.ctls .sec_con {
    overflow: hidden
}

.ctls .sec_con h1 {
    font-size: .12rem;
    line-height: .24rem;
    margin-bottom: 6px;
    margin-top: 5px;
    color: #999;
    text-align: left;
    width: 100%;
    padding: 0 12px;
    position: relative
}

.ctls .sec_con h1 .del_his {
    position: absolute;
    right: 12px;
    top: 0
}

.ctls .sec_con .item {
    width: 100%;
    padding: 0 12px;
    font-size: 0
}

.ctls .sec_con .item .u_btn {
    width: 30%;
    margin-right: 5%;
    background: #fff;
    color: #555;
    border: 0;
    margin-bottom: 12px;
    font-size: .14rem!important
}

.ctls .sec_con .item .u_btn.u_on {
    color: #09bb07
}

.ctls .sec_con .item .u_btn:nth-child(3n) {
    margin-right: 0
}

.ctls .sec_con .item .u_btn:after {
    display: none
}

.ctls .m_group .sticky {
    background: #ebebeb;
    height: 34px;
    line-height: 34px;
    position: relative;
    padding: 0 12px
}

.ctls .m_group .sticky .active {
    width: 16px;
    height: 16px;
    position: absolute;
    right: 12px;
    top: 0;
    color: #ccc
}

.ctls .m_group .sticky .active.on {
    display: block
}

.ctls .m_group .sticky .active.unon {
    display: none
}

.ctls .m_group .m_lst .item {
    line-height: 44px;
    font-size: .15rem;
    color: #333;
    background: #fff
}

.ctls .m_group .m_lst .item .flex {
    background: #fff
}

.ctls .sea_list {
    position: relative
}

.ctls .sea_list .m_group {
    z-index: 1001
}

.ctls .mask_layer {
    background: rgba(0, 0, 0, .7);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000
}

.ctls .chos_list {
    position: absolute;
    z-index: 1001;
    top: 50px;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: #fff
}

.ctls .chos_list .li span {
    display: block
}

.ctls .m_lst .item .flex {
    line-height: 1
}

.ctls .m_lst .item .flex .adr1 {
    font-size: .14rem;
    display: inline-block;
    max-width: 86%;
    float: left;
    margin-right: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.ctls .m_lst .item .flex .tagsht {
    color: #888;
    border-color: #e0e0e0;
    background: #f4f4f4;
    margin-top: -1px
}

.ctls .m_lst .item .flex .tags, .ctls .m_lst .item .flex .tagsht {
    font-size: .1rem;
    line-height: 14px;
    padding: 0 2px;
    height: 14px;
    text-align: center;
    font-style: normal;
    vertical-align: middle
}

.ctls .m_lst .item .flex .tags {
    color: #fff;
    background: #09bb07
}

.ctls .m_lst .item .flex .adr2 {
    font-style: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 5px;
    font-size: .12rem;
    color: #888
}

.ctls .m_lst .item .flex .adr2 .col {
    color: #09bb07
}

.ctls .m_lst .item .info {
    font-size: .11rem
}

.m_group {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden
}

.m_group .sticky {
    position: relative;
    padding: .03rem .1rem;
    background-color: #f4f4f4;
    color: #b2b2b2
}

.m_group .sticky>.iconfont {
    position: absolute;
    top: 0;
    right: .12rem;
    display: block;
    width: .16rem;
    height: .16rem;
    color: #ccc
}

.m_group .no_data {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    word-wrap: break-word;
    word-break: break-all;
    text-align: center
}

.g_hd {
    height: .44rem;
    line-height: .44rem;
    position: relative;
    background-color: #fcfcfc;
    color: #444;
    font-size: .2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center
}

.g_hd:after {
    pointer-events: none;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    overflow: hidden;
    content: " ";
    border-color: #ddd;
    border-style: solid;
    border-width: 0 0 1px;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0
}

@media (-webkit-max-device-pixel-ratio:1.49), (max--moz-device-pixel-ratio:1.49), (max-device-pixel-ratio:1.49), (max-resolution:1.49dppx), (max-resolution:143dpi) {
    .g_hd:after {
        width: 100%;
        height: 100%
    }
}

@media (-webkit-min-device-pixel-ratio:1.5) and (-webkit-max-device-pixel-ratio:2.49), (min--moz-device-pixel-ratio:1.5) and (max--moz-device-pixel-ratio:2.49), (min-device-pixel-ratio:1.5) and (max-device-pixel-ratio:2.49), (min-resolution:1.5dppx) and (max-resolution:2.49dppx), (min-resolution:144dpi) and (max-resolution:239dpi) {
    .g_hd:after {
        width: 200%;
        height: 200%;
        -webkit-transform: scale(.5);
        transform: scale(.5)
    }
}

@media (-webkit-min-device-pixel-ratio:2.5), (min--moz-device-pixel-ratio:2.5), (min-device-pixel-ratio:2.5), (min-resolution:2.5dppx), (min-resolution:240dpi) {
    .g_hd:after {
        width: 300%;
        height: 300%;
        -webkit-transform: scale(.33333);
        transform: scale(.33333)
    }
}

.g_hd>.tit {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0 .6rem
}

.g_hd>.back, .g_hd>.confirm {
    position: absolute;
    top: 0;
    width: .6rem;
    color: #858585;
    cursor: pointer;
    font-size: .24rem
}

.g_hd>.back:active, .g_hd>.confirm:active {
    opacity: .5
}

.g_hd>.back.u_icon, .g_hd>.back>.u_icon, .g_hd>.confirm.u_icon, .g_hd>.confirm>.u_icon {
    color: #858585;
    font-size: .2rem
}

.g_hd>.back {
    left: 0;
    padding-left: .15rem;
    text-align: left
}

.g_hd>.confirm {
    right: 0;
    padding-right: .15rem;
    text-align: right
}

.g_hd_normal {
    background-color: #eee;
    color: #888
}

.g_hd_normal>.back, .g_hd_normal>.back.u_icon, .g_hd_normal>.back>.u_icon, .g_hd_normal>.confirm, .g_hd_normal>.confirm.u_icon, .g_hd_normal>.confirm>.u_icon {
    color: #888
}

.m_sch {
    position: relative;
    padding: .1rem;
    background-color: #eee;
    line-height: .3rem
}

.m_sch, .m_sch>.operation {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex
}

.m_sch>.operation {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    width: .1px
}

.m_sch>.operation>.iconfont {
    position: absolute;
    z-index: 2;
    width: .28rem;
    text-align: center
}

.m_sch>.operation>.u_ipt {
    display: block;
    -webkit-appearance: none;
    appearance: none;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    width: .1px;
    position: relative;
    z-index: 1;
    margin: -.01rem 0;
    padding-left: .1rem;
    border: 1px solid #fff;
    border-radius: .05rem;
    background-color: #fff
}

.m_sch>.operation>.u_ipt_shrink {
    -webkit-transition: margin .2s ease-out;
    transition: margin .2s ease-out
}

.m_sch>.operation>.u_ipt_shrink:focus {
    margin-right: .6rem
}

.m_sch>.operation>.iconfont+.u_ipt {
    padding-left: .28rem
}

.m_sch>.cancel {
    position: absolute;
    right: .1rem;
    width: .5rem;
    color: #1ba9ba;
    text-align: center
}

.m_sch>.u_btn {
    display: block;
    min-width: .4rem;
    margin-left: .1rem;
    padding: 0 .1rem;
    background-color: #09bb07;
    color: #fff;
    text-align: center;
    border-radius: .05rem
}

.m_mask {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .2)
}

.g_flex {
    font-family: Helvetica Neue, Helvetica, Microsoft YaHei, STHeiTi, sans-serif
}

.g_flex, .keyword {
    background: #f4f4f4
}

.keyword {
    z-index: 111
}

.keyword .m_sch {
    z-index: 1000;
    background: #fff;
    z-index: 1002
}

.keyword .m_sch .operation {
    height: 30px;
    position: relative
}

.keyword .m_sch .operation .u_ipt {
    background: #f4f4f4;
    line-height: 30px;
    padding-right: .28rem
}

.keyword .m_sch .operation .clear-btn {
    right: 0
}

.keyword .m_sch .u_btn {
    color: #333;
    background: #fff;
    font-size: .18rem
}

.keyword .key_ser {
    z-index: 1001;
    position: absolute;
    top: .5rem;
    left: 0;
    right: 0;
    bottom: 0
}

.keyword .key_ser .m_lst .item {
    background: #fff;
    padding: .11rem .1rem .12rem
}

.keyword .flex {
    height: 100%;
    overflow: auto;
    color: #555
}

.keyword .flex .page-select .m_lst {
    margin: 15px 0
}

.keyword .flex .page-select .m_lst .flex {
    color: #555;
    font-size: .14rem
}

.keyword .flex .page-select .m_lst .arr {
    position: relative;
    width: 20px;
    text-align: right
}

.keyword .flex .page-select .m_lst .arr:after {
    content: " ";
    display: inline-block;
    height: 8px;
    width: 8px;
    border-width: 2px 2px 0 0;
    border-color: #888;
    border-style: solid;
    -webkit-transform: matrix(.71, .71, -.71, .71, 0, 0);
    transform: matrix(.71, .71, -.71, .71, 0, 0);
    position: absolute;
    top: 50%;
    margin-top: -4px;
    right: 4px
}

.keyword .flex .page-select .group-con {
    padding: 0 10px
}

.keyword .flex .page-select .group-con .page-title {
    font-size: .12rem;
    color: #888;
    position: relative
}

.keyword .flex .page-select .group-con .page-title .sea-clear {
    position: absolute;
    right: 2px;
    top: 0;
    color: #555
}

.keyword .flex .page-select .group-con .keyword-list {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    overflow: hidden;
    margin-top: 15px
}

.keyword .flex .page-select .group-con .keyword-list .sec_con {
    overflow: hidden;
    padding-bottom: 1px;
    margin-right: -3px
}

.keyword .flex .page-select .group-con .keyword-list .sec_con .u_btn {
    float: left;
    width: 30%;
    border-radius: 3px;
    margin-right: 5%;
    margin-bottom: 12px;
    background: #fff;
    height: 40px;
    line-height: 40px;
    text-align: center
}

.keyword .flex .page-select .group-con .keyword-list .sec_con .u_btn:nth-of-type(3n) {
    margin-right: 0
}

.keyword .flex .page-select .group-con .keyword-list .sec_con .u_btn.u_on {
    color: #09bb07
}

.keyword .flex .page-select .group-con .keyword-list .sec_con span {
    line-height: 1;
    font-size: .14rem;
    color: #555;
    display: inline-block;
    vertical-align: middle
}

.keyword .flex .page-search .m_lst li .flex .adr1 {
    font-size: .14rem;
    display: inline-block;
    max-width: 84%;
    float: left;
    margin-right: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.keyword .flex .page-search .m_lst li .flex .tagsht {
    color: #888;
    border-color: #e0e0e0;
    background: #f4f4f4;
    margin-top: -1px
}

.keyword .flex .page-search .m_lst li .flex .tags, .keyword .flex .page-search .m_lst li .flex .tagsht {
    font-size: .1rem;
    line-height: 14px;
    padding: 0 2px;
    height: 14px;
    text-align: center;
    font-style: normal;
    vertical-align: middle
}

.keyword .flex .page-search .m_lst li .flex .tags {
    color: #fff;
    background: #09bb07
}

.keyword .flex .page-search .m_lst li .flex .adr2 {
    font-style: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 5px;
    font-size: .12rem;
    color: #888
}

.keyword .flex .page-search .m_lst li .flex .adr2 .col {
    color: #09bb07
}

.keyword .flex .page-search .m_lst li .info {
    font-size: .11rem
}

.keyword .m_mask {
    z-index: 999;
    background: rgba(0, 0, 0, .7)
}

.u_btn:after {
    border-color: #fff!important
}

.m_group {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden
}

.m_group .sticky {
    position: relative;
    padding: .03rem .1rem;
    background-color: #f4f4f4;
    color: #b2b2b2
}

.m_group .sticky>.iconfont {
    position: absolute;
    top: 0;
    right: .12rem;
    display: block;
    width: .16rem;
    height: .16rem;
    color: #ccc
}

.m_group .no_data {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    word-wrap: break-word;
    word-break: break-all;
    text-align: center
}

.bps {
    position: absolute;
    bottom: 0;
    z-index: 10002;
    width: 100%;
    background-color: #fff;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    transform: translate3d(0, 100%, 0);
    -webkit-transform: translate3d(0, 100%, 0)
}

.tsi {
    transform: translateZ(0);
    -webkit-transform: translateZ(0)
}

.bpsc {
    padding: .2rem .12rem .3rem
}

.bpsc .tit {
    font-size: .13rem;
    margin-bottom: 4px
}

.bpsc .list {
    font-size: .11rem;
    display: -webkit-flex;
    display: flex
}

.bpsc .list li {
    flex: 1;
    -webkit-flex: 1;
    padding: 7px 0;
    text-align: center;
    border: 1px solid #ddd;
    margin-right: -1px
}

.bpsc .list li:first-child {
    border-radius: 4px 0 0 4px
}

.bpsc .list li:last-child {
    border-radius: 0 4px 4px 0
}

.bpsc .list .item_on {
    border: 1px solid #09bb07;
    position: relative;
    z-index: 1
}

.bpsc .pri {
    margin-top: .2rem
}

.m_lst {
    font-size: .16rem
}

.m_lst .item {
    background-color: #f8f8f8;
    padding: .04rem .1rem;
    border-top: 1px solid #ddd
}

.m_lst .u_btn {
    line-height: 36px
}

.m_lst .reset {
    flex: 1;
    -webkit-flex: 1;
    margin-right: .1rem;
    background-color: transparent;
    border: 1px solid #ddd;
    color: #555
}

.m_lst .reset:after {
    border-color: #ddd
}

.m_lst .sure {
    flex: 3;
    -webkit-flex: 3;
    background-color: #09bb07
}

.m_lst .sure:after {
    border: 0
}

.m_lst .sure:active {
    color: hsla(0, 0%, 100%, .4);
    background-color: #039702
}

.mlayer {
    display: none;
    top: 0;
    left: 0;
    z-index: 10001;
    width: 100%;
    height: 100%;
    position: absolute;
    background: #000;
    opacity: .7
}

.show {
    display: block
}

.m_group {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden
}

.m_group .sticky {
    position: relative;
    padding: .03rem .1rem;
    background-color: #f4f4f4;
    color: #b2b2b2
}

.m_group .sticky>.iconfont {
    position: absolute;
    top: 0;
    right: .12rem;
    display: block;
    width: .16rem;
    height: .16rem;
    color: #ccc
}

.m_group .no_data {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    word-wrap: break-word;
    word-break: break-all
}

.m_dtpkr, .m_group .no_data {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    text-align: center
}

.m_dtpkr {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 30;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    background-color: #fff
}

.m_dtpkr>.flex {
    height: 100%;
    padding-top: .36rem;
    overflow: auto;
    -webkit-overflow-scrolling: touch
}

.m_dtpkr .weeks {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1
}

.m_dtpkr .weeks::last-chlid {
    border-width: none!important
}

.m_dtpkr .week, .m_dtpkr>.week_bar {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    width: 100%;
    padding: 0 .12rem
}

.m_dtpkr .week>li, .m_dtpkr>.week_bar>li {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    width: .1px
}

.m_dtpkr>.week_bar {
    position: absolute;
    z-index: 2;
    height: .36rem;
    line-height: .36rem;
    background-color: #f4f4f4;
    color: #888;
    font-size: .11rem
}

.m_dtpkr .month_bar {
    height: .45rem;
    line-height: .45rem;
    background-color: #fff;
    color: #353535;
    font-size: .14rem;
    font-weight: 400
}

.m_dtpkr .week {
    color: #353535
}

.m_dtpkr .week>li {
    position: relative;
    height: .48rem;
    line-height: .32rem;
    margin-bottom: .07rem
}

.m_dtpkr .day, .m_dtpkr .special {
    position: absolute;
    padding: .07rem 0;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%
}

.m_dtpkr .day {
    width: 100%;
    height: 100%;
    font-size: .16rem
}

.m_dtpkr .special {
    display: inline-block;
    font-size: .12rem;
    color: red
}

.m_dtpkr .special~.special {
    margin: -.05rem 0 0
}

.m_dtpkr .holiday>.day, .m_dtpkr .today>.day {
    display: none
}

.m_dtpkr .disabled>b.work, .m_dtpkr .disabled b.holiday, .m_dtpkr .weekend>b.work, .m_dtpkr .weekend b.holiday, .m_dtpkr .work>b.work, .m_dtpkr .work b.holiday {
    position: absolute;
    right: -.02rem;
    top: -.01rem;
    width: .16rem;
    height: .16rem;
    line-height: 1;
    background-color: none;
    font-size: .1rem
}

.m_dtpkr .weekend, .m_dtpkr .weekend>b.work, .m_dtpkr .weekend b.holiday {
    color: red
}

.m_dtpkr .work, .m_dtpkr .work>b.work, .m_dtpkr .work b.holiday {
    color: #353535
}

.m_dtpkr .disabled, .m_dtpkr .disabled>.special, .m_dtpkr .disabled>b.work, .m_dtpkr .disabled b.holiday {
    color: #e0e0e0!important
}

.m_dtpkr .range {
    background-color: #deeaff;
    color: #09bb07
}

.m_dtpkr .range>.special {
    color: #09bb07
}

.m_dtpkr .range>b.work, .m_dtpkr .range b.holiday {
    display: none
}

.m_dtpkr .end, .m_dtpkr .start {
    display: inline-block;
    background-color: #09bb07;
    color: #fff
}

.m_dtpkr .end>.day, .m_dtpkr .start>.day {
    line-height: .16rem
}

.m_dtpkr .end>.special, .m_dtpkr .start>.special {
    display: none
}

.m_dtpkr .end:after, .m_dtpkr .start:after {
    display: block;
    color: #fff;
    font-size: .1rem;
    position: absolute;
    bottom: .05rem;
    left: 0;
    right: 0;
    height: .12rem;
    line-height: .09rem
}

.m_dtpkr .start {
    border-top-left-radius: .05rem;
    border-bottom-left-radius: .05rem
}

.m_dtpkr .end {
    border-top-right-radius: .05rem;
    border-bottom-right-radius: .05rem
}

.m_dtpkr .start:after {
    content: "\5165\5E97"
}

.m_dtpkr .end:after {
    content: "\79BB\5E97"
}

.m_dtpkr .range {
    background-color: #d2f1d3
}

.m_dtpkr .week .end, .m_dtpkr .week .start {
    background-color: #09bb07
}

.m_group {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden
}

.m_group .sticky {
    position: relative;
    padding: .03rem .1rem;
    background-color: #f4f4f4;
    color: #b2b2b2
}

.m_group .sticky>.iconfont {
    position: absolute;
    top: 0;
    right: .12rem;
    display: block;
    width: .16rem;
    height: .16rem;
    color: #ccc
}

.m_group .no_data {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    word-wrap: break-word;
    word-break: break-all;
    text-align: center
}

.m_mask {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .2)
}

.m_dialog {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    padding-top: .15rem;
    max-width: 90%;
    min-width: 85%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    overflow: hidden;
    background-color: #fff;
    text-align: center;
    border-radius: 3px;
    z-index: 1001
}

.m_dialog .bd {
    padding: .05rem .2rem .2rem
}

.m_dialog .bd p {
    font-size: .15rem;
    line-height: .21rem
}

.m_dialog .ft {
    display: -webkit-box;
    display: box;
    display: -webkit-flex;
    display: flex
}

.m_dialog .ft .u_btn_l {
    display: -webkit-box;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    background-color: #fff
}

.m_dialog .ft .u_btn_l:last-of-type {
    color: #09bb07
}

.m_dialog .ft .u_btn_l:first-of-type {
    color: #353535
}

.m_dialog .bdb, .m_dialog .bdl, .m_dialog .bdt {
    position: relative
}

.m_dialog .bdl:first-of-type:before {
    border-width: 1px 0 0
}

.m_dialog .bdl:before {
    border-width: 1px 0 0 1px
}

.m_dialog .bdt:before {
    z-index: 1
}

*, :after, :before {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent
}

.hide {
    display: none!important
}

button, input, select a, textarea {
    border: 0
}

::-webkit-scrollbar {
    display: none
}

html {
    background-color: #fff;
    color: #888;
    font-size: 100px;
    -webkit-user-select: none;
    user-select: none
}

body {
    margin: 0;
    font-size: .14rem;
    line-height: 1.5;
    font-family: Helvetica Neue, Helvetica, STHeiTi, sans-serif
}

blockquote, button, dd, dl, fieldset, figure, form, h1, h2, h3, h4, h5, h6, input, legend, ol, p, pre, td, textarea, th, ul, xmp {
    margin: 0;
    padding: 0
}

button, code, input, kbd, pre, samp, select, textarea, tt, xmp {
    line-height: inherit;
    font-family: inherit
}

big, button, h1, h2, h3, h4, h5, h6, input, select, small, textarea {
    font-size: inherit
}

address, cite, dfn, em, i, optgroup, var {
    font-style: normal
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    text-align: left
}

menu, ol, ul {
    list-style: none
}

fieldset, img {
    border: 0;
    vertical-align: middle
}

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
    display: block
}

audio, canvas, video {
    display: inline-block
}

blockquote:after, blockquote:before, q:after, q:before {
    content: " "
}

pre, textarea, xmp {
    overflow: auto;
    -webkit-overflow-scrolling: touch
}

textarea {
    resize: vertical
}

button, input, select a, textarea {
    outline: 0
}

button, input, select, textarea {
    color: inherit
}

button:disabled, input:disabled, select:disabled, textarea:disabled {
    opacity: 1
}

button::-moz-focus-inner, input::-moz-focus-inner {
    padding: 0;
    border: 0
}

input[type=button], input[type=file]::-webkit-file-upload-button, input[type=reset], input[type=search]::-webkit-search-cancel-button, input[type=submit] {
    -webkit-appearance: none;
    appearance: none
}

mark {
    background-color: transparent
}

a, del, ins, s, u {
    text-decoration: none
}

a, img {
    -webkit-touch-callout: none
}

a {
    color: #09bb07
}

@font-face {
    font-family: iconfont;
    src: url(//m.elongstatic.com/hotel/h5/hotelfx/2017/05/iconfont/iconfont.woff) format("woff"), url(//m.elongstatic.com/hotel/h5/hotelfx/2017/05/iconfont/iconfont.ttf) format("truetype")
}

.iconfont {
    font-family: iconfont!important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    vertical-align: middle
}

.g_flex {
    height: 100%
}

.g_flex, .g_flex .flex_inherit {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    overflow: hidden
}

.g_flex .flex_inherit, .g_flex .flex_inherit>.flex, .g_flex>.flex {
    -webkit-box-flex: 1;
    flex: 1;
    position: relative
}

.g_flex .flex_inherit>.flex, .g_flex>.flex {
    overflow: auto;
    -webkit-overflow-scrolling: touch
}

.g_flex .flex_inherit>.flex>.flex, .g_flex>.flex>.flex {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}

.m_lst {
    z-index: 0
}

.m_lst .front, .m_lst>.item, .m_lst>.label {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center
}

.m_lst .front>.flex, .m_lst>.item>.flex, .m_lst>.label>.flex {
    -webkit-box-flex: 1;
    flex: 1;
    width: .1px;
    margin: 0 .1rem
}

.m_lst .front>.flex:first-child, .m_lst>.item>.flex:first-child, .m_lst>.label>.flex:first-child {
    margin-left: 0
}

.m_lst .front>.flex:last-child, .m_lst>.item>.flex:last-child, .m_lst>.label>.flex:last-child {
    margin-right: 0
}

.m_lst .front>.u_ico, .m_lst>.item>.u_ico, .m_lst>.label>.u_ico {
    display: block
}

.m_lst .front>.u_ico:last-child, .m_lst>.item>.u_ico:last-child, .m_lst>.label>.u_ico:last-child {
    color: #aaa;
    font-size: .12rem
}

.m_lst .front.tr, .m_lst>.item.tr, .m_lst>.label.tr {
    padding: 0
}

.m_lst>.label {
    position: relative;
    background-color: #fff;
    color: #b2b2b2;
    font-size: .13rem;
    font-weight: 400
}

.m_lst>.label, .m_lst>.label>.col {
    padding: .03rem .1rem
}

.m_lst .front, .m_lst>.item {
    padding: .11rem .1rem .12rem
}

.m_lst>.item {
    overflow: hidden;
    background-color: #fff;
    color: #888;
    font-size: .14rem;
    position: relative
}

.m_lst>.item_input>.input {
    -webkit-appearance: none;
    appearance: none;
    display: block;
    width: 100%;
    min-height: .21rem;
    border: 0
}

.m_lst>.item_input>.input::-webkit-input-placeholder {
    color: #bbb
}

.m_lst>.item_stacked {
    display: block
}

.m_lst>.item_stacked>.mark {
    padding-bottom: .05rem
}

.m_lst>.item.item_active:active, .m_lst>.item.item_active:active .front, .m_lst>.item.item_light, .m_lst>.item.item_light .front {
    background-color: #f8f8f8
}

.m_lst>.item>.col {
    padding: .11rem .1rem .12rem
}

.m_lst_inset {
    margin: .2rem .1rem 0;
    border-radius: .01rem;
    overflow: hidden
}

.m_lst_group>.label, .m_lst_group>.label>.col {
    padding: .2rem .1rem .05rem
}

.m_lst_group>.label:after {
    border-color: #e0e0e0
}

.u_btn {
    display: inline-block;
    padding: 0 .12rem;
    vertical-align: top;
    position: relative;
    border-radius: .03rem;
    border: 0 none;
    background-color: #09bb07;
    color: #fff;
    text-align: center;
    cursor: pointer
}

.u_btn_dis {
    opacity: 1;
    cursor: not-allowed
}

.u_btn_dis, .u_btn_dis:active {
    background-color: #1bf618;
    color: #fff
}

.u_btn_dis:active:after, .u_btn_dis:after {
    border-color: #0cf609
}

.u_btn_s {
    height: .28rem;
    line-height: .28rem;
    font-size: .12rem
}

.u_btn_m {
    height: .32rem;
    line-height: .32rem;
    font-size: .14rem
}

.u_btn_l {
    height: .4rem;
    line-height: .4rem;
    font-size: .17rem
}

.u_btn_stacked {
    display: block;
    width: 100%
}

.u_btn_hollow {
    background-color: #fff;
    color: #888
}

.u_btn_hollow:after {
    border-color: #e0e0e0
}

.u_btn_hollow.u_btn_dis, .u_btn_hollow.u_btn_dis:active {
    background-color: #fff;
    color: #eee
}

.u_btn_hollow.u_btn_dis:active:after, .u_btn_hollow.u_btn_dis:after {
    border-color: #fff
}

.m_tab {
    display: -webkit-box;
    display: flex;
    overflow: hidden;
    height: .44rem;
    position: relative;
    background-color: #fafafa;
    font-size: .14rem;
    text-align: center;
    line-height: .44rem
}

.m_tab>.item {
    display: block;
    -webkit-box-flex: 1;
    flex: 1;
    width: .1px;
    position: relative;
    color: #b2b2b2
}

.m_tab>.item:not(:first-child):after {
    position: absolute;
    top: 50%;
    left: 0;
    border-left: 1px solid transparent;
    content: " ";
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0
}

@media (-webkit-max-device-pixel-ratio:1.49), (max--moz-device-pixel-ratio:1.49), (max-device-pixel-ratio:1.49), (max-resolution:1.49dppx), (max-resolution:143dpi) {
    .m_tab>.item:not(:first-child):after {
        width: 10px;
        height: 100%;
        -webkit-transform: translatey(-50%);
        transform: translatey(-50%)
    }
}

@media (-webkit-min-device-pixel-ratio:1.5) and (-webkit-max-device-pixel-ratio:2.49), (min--moz-device-pixel-ratio:1.5) and (max--moz-device-pixel-ratio:2.49), (min-device-pixel-ratio:1.5) and (max-device-pixel-ratio:2.49), (min-resolution:1.5dppx) and (max-resolution:2.49dppx), (min-resolution:144dpi) and (max-resolution:239dpi) {
    .m_tab>.item:not(:first-child):after {
        width: 20px;
        height: 200%;
        -webkit-transform: scale(.5) translatey(-50%);
        transform: scale(.5) translatey(-50%)
    }
}

@media (-webkit-min-device-pixel-ratio:2.5), (min--moz-device-pixel-ratio:2.5), (min-device-pixel-ratio:2.5), (min-resolution:2.5dppx), (min-resolution:240dpi) {
    .m_tab>.item:not(:first-child):after {
        width: 30px;
        height: 300%;
        -webkit-transform: scale(.33333) translatey(-50%);
        transform: scale(.33333) translatey(-50%)
    }
}

.m_tab>.item.item_on {
    color: #49f
}

.m_tab>.item_y_ico {
    padding-top: .04rem;
    line-height: .2rem
}

.m_tab>.item_y_ico .u_ico {
    display: block;
    font-size: .2rem
}

.m_tab>.item_x_ico .u_ico {
    font-size: .12rem
}

.m_tab>.item_only_ico .u_ico {
    font-size: .28rem
}

.m_tab_filter {
    height: .4rem;
    line-height: .4rem
}

.m_tab_filter:after {
    border-width: 0 0 1px
}

.m_tab_filter>.item:not(:first-child):after {
    border-color: #e0e0e0
}

@media (-webkit-max-device-pixel-ratio:1.49), (max--moz-device-pixel-ratio:1.49), (max-device-pixel-ratio:1.49), (max-resolution:1.49dppx), (max-resolution:143dpi) {
    .m_tab_filter>.item:not(:first-child):after {
        height: .2rem
    }
}

@media (-webkit-min-device-pixel-ratio:1.5) and (-webkit-max-device-pixel-ratio:2.49), (min--moz-device-pixel-ratio:1.5) and (max--moz-device-pixel-ratio:2.49), (min-device-pixel-ratio:1.5) and (max-device-pixel-ratio:2.49), (min-resolution:1.5dppx) and (max-resolution:2.49dppx), (min-resolution:144dpi) and (max-resolution:239dpi) {
    .m_tab_filter>.item:not(:first-child):after {
        height: .4rem
    }
}

@media (-webkit-min-device-pixel-ratio:2.5), (min--moz-device-pixel-ratio:2.5), (min-device-pixel-ratio:2.5), (min-resolution:2.5dppx), (min-resolution:240dpi) {
    .m_tab_filter>.item:not(:first-child):after {
        height: .6rem
    }
}

.m_tab_view {
    font-size: .12rem
}

.bdb, .bdl, .bdt {
    position: relative
}

.bdb:before {
    border-bottom: 1px solid #e0e0e0
}

.bdb:before, .bdt:before {
    content: " ";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    color: #e0e0e0;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
    z-index: 0
}

.bdt:before {
    border-top: 1px solid #e0e0e0
}

.bdl:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1px;
    border-left: 1px solid #e0e0e0;
    color: #e0e0e0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
    z-index: 0
}

@media (-webkit-max-device-pixel-ratio:1.49), (max--moz-device-pixel-ratio:1.49), (max-device-pixel-ratio:1.49), (max-resolution:1.49dppx), (max-resolution:143dpi) {
    .bdb:before, .bdl:before, .bdt:before {
        width: 100%;
        height: 100%
    }
}

@media (-webkit-min-device-pixel-ratio:1.5) and (-webkit-max-device-pixel-ratio:2.49), (min--moz-device-pixel-ratio:1.5) and (max--moz-device-pixel-ratio:2.49), (min-device-pixel-ratio:1.5) and (max-device-pixel-ratio:2.49), (min-resolution:1.5dppx) and (max-resolution:2.49dppx), (min-resolution:144dpi) and (max-resolution:239dpi) {
    .bdb:before, .bdl:before, .bdt:before {
        width: 200%;
        height: 200%;
        -webkit-transform: scale(.5);
        transform: scale(.5)
    }
}

@media (-webkit-min-device-pixel-ratio:2.5), (min--moz-device-pixel-ratio:2.5), (min-device-pixel-ratio:2.5), (min-resolution:2.5dppx), (min-resolution:240dpi) {
    .bdb:before, .bdl:before, .bdt:before {
        width: 300%;
        height: 300%;
        -webkit-transform: scale(.33333);
        transform: scale(.33333)
    }
}
